[color]
   	status = auto
	branch = auto
	diff = auto
	grep = auto
[user]
	name = Anton Amirian
	email = moop@nnm.io
[alias]
   	st = status
	co = checkout
	ci = commit
	graph = log --graph --oneline --decorate
[push]
	default = simple
[core]
	editor = vim
