Xft.dpi:                    96
Xft.antialias:              false
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight

!-------------------------------------------------------------------------------
!! URxvt settings
!! Colours lifted from Solarized (http://ethanschoonover.com/solarized)
!! More info at:
!! http://pod.tst.eu/http://cvs.schmorp.de/rxvt-unicode/doc/rxvt.1.pod
!!-------------------------------------------------------------------------------

URxvt.depth:                32
URxvt.geometry:             90x30
URxvt.transparent:          false
URxvt.fading:               0
! URxvt.urgentOnBell:         true
! URxvt.visualBell:           true
URxvt.loginShell:           true
URxvt.saveLines:            50
URxvt.internalBorder:       3
URxvt.lineSpace:            0

! Fonts
URxvt.allow_bold:           true
/* URxvt.font:                 -*-terminus-medium-r-normal-*-12-120-72-72-c-60-iso8859-1 */
URxvt*font: xft:terminus:pixelsize=10
URxvt*boldFont: xft:terminus:pixelsize=10

! Fix font space
!URxvt*letterSpace: -2

! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false

! Perl extensions
URxvt.perl-ext-common:      default,matcher
URxvt.matcher.button:       1
URxvt.urlLauncher:          chromium-browser

! Cursor
URxvt.cursorBlink:          true
URxvt.cursorColor:          #657b83
URxvt.cursorUnderline:      false

! Pointer
URxvt.pointerBlank:         true

Rxvt.foreground  : #d0d0d0
Rxvt.background  : #1c1c1c

!black
 URxvt.color0:  #333333
 URxvt.color8:  #666666
!red
 URxvt.color1:  #A94952
 URxvt.color9:  #ED6975
!green
 URxvt.color2:  #83A949
 URxvt.color10: #B8ED69
!yellow
 URxvt.color3:  #A99F49
 URxvt.color11: #EDE169
!blue
 URxvt.color4:  #4983A9
 URxvt.color12: #69B8ED
!magenta
 URxvt.color5:  #A94983
 URxvt.color13: #ED69B8
!cyan
 URxvt.color6:  #49A99F
 URxvt.color14: #69EDE1
!white
 URxvt.color7:  #AAAAAA
 URxvt.color15: #CCCCCC
